{% extends 'base.html' %}

{% block title %}
Мои альбомы
{% endblock %}



{% block main %}
<style>
.map {
    padding: 40px 0;
    text-align: center;
}

.container-m {
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    font-size: 35px;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-bottom: 20px;
}
</style>

  <h2>Альбомы</h2>
  {% if albums|length > 0 %}
  <div class="row row-cols-1 row-cols-sm-6 row-cols-md-6 g-3">
      {% for i in range(albums|length) %}
        <div class="col">
          <div class="card shadow-sm">
            <div><h4>{{ albums[i].name }}</h4></div>
            <a href="/album/{{ albums[i].id }}"><img src="static/ico/папка.png" class="card-img-top" width="50%" height="225"></a>
            <div class="card-body">
              <p class="card-text">всего файлов: {{ len_cont[i] }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/album/{{ albums[i].id }}"><button type="button" class="btn btn-sm btn-outline-primary">Открыть</button></a>
                </div>
                <div align='right'>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
            <p>Пока у вас нет альбомов</p>
            {% endif %}
      </div>



{% endblock %}
