{% extends 'base.html' %}


{% block title %}
Инструменты редактирования
{% endblock %}

{% block body %}

{% block main %}

<img class="bd-placeholder-img" width="200" height="200" src="/static/img/{{ photo.name }}">
<a href="/edit/{{ photo.id }}" class="btn btn-primary">Повернуть</a>

<form method="post" class="needs-validation" enctype="multipart/form-data">
    <h3>Яркость:</h3>
    <input type="text" name="brightness" id="brightness" class="form-control" placeholder="Яркость" value="{{ photo.brightness }}" required=""><br>
    <h3>Контрастность:</h3>
    <input type="text" name="contrast" id="contrast" class="form-control" placeholder="Контрастность" value="{{ photo.contrast }}" required=""><br>
    <input type="submit" class="btn btn-primary"  style="text-align: center;" value="Изменить">
</form>
<br>
<a href="/save/{{ photo.id }}" class="btn btn-success">Сохранить изменения</a>
<a href="/cancel/{{ photo.id }}" class="btn btn-danger">Отменить изменения</a>
{% endblock %}



{% endblock %}



