

{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}



{% block main %}
<div style="text-align: center">
<p style="font-size:40px;font-weight:20px;color:#28827b">WiqPhoto - сервис для загрузки и хранения ваших фото и видео. Разработан командой Wiquix специально для Технострелки</p>
<p style="font-size:20px;font-weight:20px;color:#1d4242">Для начала пользования сайтом создайте или войдите в аккаунт</p>
<p style="font-size:20px;font-weight:10px;color:#1d4242">И так, у нас есть 4 разные ссылки сверху, давайте по-порядку:</p>
<p style="font-size:20px;font-weight:10px;color:#1d4242">"Создать альбом" - на этой страничке вы, как уже ясно из названия, просто создаёте альбом с указанием доступа других пользователей к нему. То есть вы можете создать личный альбом для пользования только самому, так же добавить туда сколько угодно человек для возможности просматривать ваши файлы</p>
<p style="font-size:20px;font-weight:10px;color:#1d4242">"Добавить фото или видео" - тут вы добавляете фотографию или видео в свой профиль (их никто не увидит), а затем уже вы можете их привязать к какому-либо альбому</p>
<p style="font-size:20px;font-weight:10px;color:#1d4242">"Мои альбомы" - список всех ваших альбомов, внутри которых находятся как раз таки все ваши файлы (если вы их конечно туда добавляли), при открытии альбома можно сразу добавить туда файл, чтобы не бегать потом по сайту и не прикреплять к каждому альбому файл, а также можете скачать этот альбом zip-архивом</p>
<p style="font-size:20px;font-weight:10px;color:#1d4242">"Мои файлы" - тут просто перечислены все ваши файлы, где вы можете выбрать любой и провести с ними какую-либо операцию</p>
</div>
{% endblock %}
